<!DOCTYPE html>

<html lang="en">
    <head>
        
        <meta charset="UTF-8">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <title>Grid Forecaster 1.0 - Forecast</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="machine learning, electricity, grid, eirgrid, renewable energy">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <link rel="stylesheet" href="static/stylesheet.css">

    </head>

    <body> 

        <div id="nav">
            <!--<p id="presentpage"><a href="index.html">Home</a></p>-->

            <!--**********************************************************************************************************-->
            <div class="dropdown"> <!--https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp-->
                <p class="dropbtn">
                    <!--<a href="index.html"><strong>Home</strong></a>-->
                    <a id="home" href="/">Home</a>
                    <i class="fa fa-caret-down"></i>
                </p>
            </div>

            <div class="dropdown"> <!--https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp-->
                <p class="dropbtn">
                    <!--<a href="forecast.html">Forecast</a>-->
                    <a id="forecast" href="/forecast"><strong>Forecast</strong></a>
                    <i class="fa fa-caret-down"></i>
                </p>
            </div>

            <div class="dropdown"> <!--https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp-->
                <p class="dropbtn">
                    <!--<a href="test.html">Test</a>-->
                    <a id="test" href="/test">Test</a>
                    <i class="fa fa-caret-down"></i>
                </p>
            </div>
            
            
            <!--**********************************************************************************************************-->

        </div>

        <div id="header">
            <h1>Grid Forecaster 1.0</h1>
        </div>

        <div id="main">

            <!--**********************************************************************************************************-->
            <h2>Generate a Forecast</h2>
            <p>Choose a forecast variable and a model to use to generate a forecast for the next 24 hours.
                Forecast timeseries will be displayed in the plot below.
            </p>
            <!--
            <p>Choose a forecast variable and a model to generate either: </p>
            <ul>
                <li>a forecast for the next 24 hours.</li>
                <li>a hindcast for the date specified in Hindcast Date.</li>
            </ul> 
            <p>Forecast or hindcast timeseries will be displayed in the plot below.
                In the case of hindcasts, test metrics will be also be evaluated and displayed in the table below. 
            </p>
            -->
            
            <form action="" method="post">
        
                <div class="form__fieldset">
                    <label for="forecastVar" class="form__label">Forecast Variable:</label>
                    <select name="forecastVar" id="forecastVar" class="form__input form__select">
                        <option value="SystemDemand">System Demand</option>
                        <option value="WindGeneration">Wind Generation</option>
                        <option value="SystemGeneration" disabled>System Generation</option>
                    </select>
                </div>
        
                <div class="form__fieldset">
                <label for="modelName" class="form__label">Forecast Model:</label>
                <select name="modelName" id="modelName" class="form__input form__select">
                    <option value="LR">Linear Regressor</option>
                    <option value="NN">MLP Regressor (NN)</option>
                    <option value="KN">K Neighbours Regressor</option>
                    <option value="RF">Random Forest Regressor</option>
                    <option value="SV" disabled>Support Vector Regressor</option>
                </select>
                </div>
                
                <!--
                <div class="form__fieldset">
                    <label for="date" class="form__label">Hindcast Date*:</label>
                    <input type="date" name="date" id="date" class="form__input" />
                    <p>* Leave this blank to generate a forecast for the next 24 hours</p>
                </div>
                -->

                <div class="form__fieldset">
                <input
                    class="form__submit form__input"
                    type="submit"
                    value="Generate Forecast"
                />
                </div>
            </form>

            {% if modelName == '' %}
                <p>Results will appear below</p>
            {% else %}

                <h2>Timeseries of {{ forecastVar }} Forecast using {{ modelName }} for {{ plotDate }} </h2>
                <canvas id="lineChart" width="900" height="400"></canvas>
                <script>
                    var ctx = document.getElementById("lineChart").getContext("2d");
                    var lineChart = new Chart(ctx, {
                        type: "line",
                        data: {
                            labels: {{ xValues | safe }},
                            datasets: [
                                {
                                    label: "Forecst by {{ modelName | safe}}",
                                    data: {{ yValues | safe }},
                                    fill: false,
                                    borderColor: "rgb(75,192,192)",
                                    lineTension: 0.1
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'time'
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: '{{ forecastVar }} [MW]'
                                    }
                                }]
                            }
                        }
                    });
                </script>
            {% endif %}

        </div>

        <div id="footer">
            <hr class="line">
            <p>&copy; 2021 Darragh Clabby</p>
            <p>
                <!--
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                        alt="Valid CSS!" />
                </a>-->
            </p>
        </div>

    </body>
</html>  