<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal finance</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Add transaction</h1>
    <form action="" method="post">
      <div class="form__fieldset">
        <label for="date" class="form__label">Date:</label>
        <input type="date" name="date" id="date" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="amount" class="form__label">Amount:</label>
        <input type="number" name="amount" id="amount" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="account" class="form__label">Account:</label>
        <select name="account" id="account" class="form__input form__select">
          <option value="Checking">Checking</option>
          <option value="Savings">Savings</option>
          <option value="Investment">Investment</option>
        </select>
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Add transaction"
        />
      </div>
    </form>

    {% if entries|length > 0 %}
      <p>Transactions:</p>
      <ol>
        {% for entry in entries %} 
            <li> {{ entry[2] }}: {{ entry[1] }} on {{entry[0]}}. </li>
        {% endfor %}
      </ol>
    {% else %}
      <p>Transactions will be displayed below</p>
    {% endif%}


  </body>
</html>